<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/header.ejs") %>
    <title>Sõnumi kinnitus</title>
</head>
<body>
    <div class="container">
        <%- include("./partials/menu.ejs") %>
        <div class="row">
            <h1>Sõnum kätte saadud!</h1>
            <div>
                <%= nimi %>, aitäh kontakteerumast. Vastame esimesel võimalusel. %>
            </div>
            
        </div>

    </div>
    
</body>
</html>